@page "/Symbols"
@inject CoinApiClient Client

<h4>Search Symbols</h4>

<Field Label="Search:" class="mb-3">
    <RadzenTextBox @bind-Value="search"/>
    <span class="text-muted">Enter multiple symbols separated by commas</span>

    <RadzenButton Icon="search" Text="Search" Click="Search"/>
</Field>

<RadzenGrid TItem="SymbolInfo" Data="allSymbols" AllowPaging="true" class="mt-3">
    <Columns>
        <RadzenGridColumn TItem="SymbolInfo" Title="Symbol" Property="symbol_id"/>
        <RadzenGridColumn TItem="SymbolInfo" Title="Ask Price" Property="ask_price" Format="c2"/>
        <RadzenGridColumn TItem="SymbolInfo" Title="Last Trade">
            <Template Context="item">
                <span>@(item.last_trade?.time_exchange.ToString("M/d/yy h:mm") ?? "n/a")</span>
            </Template>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>

@code {
    string search;
    IEnumerable<SymbolInfo> allSymbols;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();        
    }

    async Task Search()
    {
        var filter = search.Split(", ", StringSplitOptions.RemoveEmptyEntries);
        allSymbols = await Client.GetSymbolsAsync(filter);
    }
}
